@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=M+PLUS+2:wght@100;300;400&family=Maven+Pro&display=swap');
.abaut{
  width: 35em;
  text-align: start;
  margin: 2em 0;
}
.abaut span{
  font-family: 'Indie Flower', monospace;
  font-weight: bold;
  color: #a7f;
}
.plan {
  background-color: #a104f6;
  border-radius: 1em;
  text-align: center;
  padding: .5em;
  color: #000;
}
.btnCV{
  border: none;
  border-radius: 5px;
  background-color: #f66;
  outline: none;
  padding: 5px;
  width: 8em;
  height: 3em;
  font-size: 18px;
  cursor: pointer;
  transition: text-shadow .6s, box-shadow .6s;
}
.btnCV:hover{
  text-shadow: 0px 0px 5px #fff;
  box-shadow:  0px 0px 10px rgb(254, 127, 127);
}
.imgPropuesta{
  width: 9em;
  height: 10em;
  object-fit: cover;
  margin: 1em 0;
}
@media (max-width: 1100px) {
  .abaut {
    width: 100%;
    text-align: left;
    margin: 2em 0;
  }
  .contenidoPortafolio {
    width: 80%;
  }
}
