@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=M+PLUS+2:wght@100;300;400&family=Maven+Pro&display=swap');

/* Estilos para todos numeros ---------------------------------------------------------------------------------------------------------- */
* {
  margin: 0;
  font-family: 'M PLUS 2', sans-serif;
  padding: 0;
  color: #fff;
}

/* Barra lateral ----------------------------------------------------------------------------------------------------------------------- */
body {
  background-color: #111;
}
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: #111;
}
body::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 20px;
}


/* Pantalla Inicio Precentacion Nombre -------------------------------------------------------------------------------------------------- */
#pantallaPrecentacion {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.contenidoPrecentacion {
  line-height: 1.5;
  width: 35em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.contenidoPrecentacion h3 {
  color: #ccf;
  font-size: 20px;
}
.contenidoPrecentacion h4 {
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  color: #a7f;
}

/* Estilo de titulo de mi nombre ---------------------------------------------------------------------------------------------------- */
.contenedorMiNombre {
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tituloMiNombre {
  font-family: 'Cherry Bomb One', cursive;
  font-size: 2.5em;
  color: #fff;
}

.borde {
  position: absolute;
  color: #333;
  text-shadow:
    -0.6px -0.6px 0px #fff,
    0.6px 0.6px 0px #fff,
    -0.6px 0.6px 0px #fff,
    0.6px -0.6px 0px #fff;
}
.ola {
  position: absolute;
  color: #a7f;
  animation: ola 3s ease-in-out infinite;
}
@keyframes ola {

  0%,
  100% {
    clip-path: polygon(0% 47%,
        10% 38%,
        33% 54%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 38%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}
.icono {
  font-size: 1.6em;
  color: #fff;
  cursor: pointer;
  margin: .1em;
}

/* Menu de navegacion en la precentacion -------------------------------------------------------------------------------------------------- */
.contenedorNavegacion {
  gap: 1.3em;
  padding: .6em;
  font-family: 'Indie Flower', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textoNavegacion {
  text-decoration: none;
  padding: .6em;
  z-index: 4;
  color: #eef;
  opacity: .6;
  cursor: pointer;
  transition: opacity .7s ease-in-out, t;
}

.textoNavegacion:hover {
  opacity: 1;
}

/* Fondo circulos giratorios degradados ----------------------------------------------------------------------------------------------------- */
.circulo {
  width: 30em;
  height: 30em;
  opacity: .6;
  z-index: -1;
  border-radius: 50%;
  position: absolute;
  filter: blur(60px);
  background: linear-gradient(130deg, rgb(121, 2, 195) 30%, rgb(254, 76, 0));
  animation: rotate-center 6s linear infinite both;
}
.rotacionIzq {
  left: -10em;
  opacity: 1;
  filter: blur(110px);
}
.WhatsApp{
  padding: .8em 1.3em;
  margin-top: 1em;
  border-radius: 2em;
  background-color: rgb(255, 111, 9);
}
/* Menu lateral ----------------------------------------------------------------------------------------------------------------------------- */
.hrNavBarRve{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  height: 3.7em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #111;
}
.hrACart{
  margin: .7em;
  cursor: pointer;
}
.hrLogo{
  font-family: "Ephesis", serif;
  font-size: 1.5em;
  font-weight: 600;
  padding: .5em;
  color: #fff;
}
.hrIconNavBar{
  font-size: 1.8em;
  padding: .5em;
  display: flex;
  cursor: pointer;
}
.hrIconNavBarSolid{
  font-size: 1.8em;
  padding: .5em;
  display: none;
  cursor: pointer;
}
.hrCheckBox{
  display: none;
}
.hrUlRve{
  position: relative;
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease;
  z-index: 1000;
}
.hrUlLiRve{
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
  list-style: none;
  background-color: #111;
}
.hrLiA {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}

.hrCheckBox:checked + label .hrIconNavBar {
  display: none;
}
.hrCheckBox:checked + label .hrIconNavBarSolid {
  display: flex;
}
.hrCheckBox:checked ~ .hrUlRve {
  max-height: 10em;
  transform: scaleY(1);
}


.infoPortafolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.contenidoPortafolio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  text-align: start;
}
#web {
  padding-top: 2em;
}

#projects h2 {
  margin: 20px 0px;
}


a{
  text-decoration: none;
}



@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}