@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=M+PLUS+2:wght@100;300;400&family=Maven+Pro&display=swap');
*{
  margin: 0;
  font-family: 'M PLUS 2', sans-serif;
  padding: 0;
  color: #fff;
}
body{
  background-color: #111;
}
html{
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #111;
}

body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 20px;
}
.nav{
  width: 100%;
  height: 5em;
  position: fixed;
}
.divNav{
  gap: 1.3em;
  padding: .6em;
  font-family: 'Indie Flower', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pMenu {
  text-decoration: none;
  padding: .6em;
  z-index: 4;
  color: #eef;
  opacity: .6;
  cursor: pointer;
  transition: opacity .7s ease-in-out, border-bottom .7s ease-in-out, transform .6s ease-in-out;
}
.pMenu:hover{
  border-bottom: 2px #fff7 solid;
  transform: scale(1.1);
  opacity: 1;
}
.pNav{
  width: 10em;
  padding: 1em;
  font-size: 28px;
  gap: 1em;
  color: #fff;
  font-family: 'Cutive Mono', monospace;
}
#home{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.divHome h4{
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  color: #a7f;
}
.miNombre{
  font-family: 'Cherry Bomb One', cursive;
  font-size: 40px;
  color: #fff;
}
.nombre{
  width: 27em;
  height: 4em;
  position: relative;
}

.divHome h3{
  color: #ccf;
  font-size: 20px;
}
.divHome{
  line-height: 1.5;
  width: 35em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.circle{
  width: 30em;
  height: 30em;
  opacity: .8;
  z-index: -1;
  border-radius: 50%;
  position: absolute;
  filter: blur(60px);
  background: linear-gradient(130deg,rgba(146, 0, 194, 1) 30%, rgba(227, 68, 0, 1));
}

.bl{
  bottom: -40em;
  left: -10em;
}
.indice {
  text-align: center;
  width: 7em;
  height: 8em;
  color: #fff;
  background-color: #333;
  border-radius: 8px;
  padding: 20px;
  box-shadow:  2px -2px 10px #a7d, -2px 2px 10px #f65;
  margin-top: 30px;
  font-family: 'Quicksand', sans-serif;
  position: sticky;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#icono{
  font-size: 30px;
  color: #fff;
  margin: 10px;
  cursor: pointer;
}
a{
  text-decoration: none;
}
.pIndice{
  color: #eef;
  margin: 5px;
  padding: 5px;
}
.pIndice:hover{
  border-bottom: 1px solid #fff;
}
.seccion{
  display: flex;
  justify-content: center;
  width: 100%;
}
.texto{
  width: 50em;
  padding: 2em;
  margin: 1em;
}
#projets{
  padding-top: 2em;
}
#projects h2{
  margin: 20px 0px;
}


.border {
  position: absolute;
  color: #333;
  text-shadow:
    -1px -1px 0px #fff,
    1px 1px 0px #fff,
    -1px 1px 0px #fff,
    1px -1px 0px #fff;
}

.wave{
  position: absolute;
  color: #a7f;
  animation: wavy 3s ease-in-out infinite;
}
@keyframes wavy{
  0%, 100%{
    clip-path: polygon(
      0% 47%, 
      10% 48%,
      33% 54%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50%{
    clip-path: polygon(
      0% 60%, 
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
