@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=M+PLUS+2:wght@100;300;400&family=Maven+Pro&display=swap');
*{
  margin: 0;
  font-family: 'M PLUS 2', sans-serif;
  padding: 0;
  color: #fff;
}
body{
  background-color: #111;
  box-sizing: border-box;
  overflow: hidden;
}
html{
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #111;
}

body::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 20px;
}
.nav{
  width: 100%;
  height: 5em;
  position: fixed;
}
.divNav{
  gap: 1.3em;
  padding: .6em;
  font-family: 'Indie Flower', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pMenu {
  text-decoration: none;
  padding: .6em;
  z-index: 4;
  color: #eef;
  opacity: .6;
  cursor: pointer;
  transition: opacity .7s ease-in-out, t;
}
.pMenu:hover{
  opacity: 1;
}
.pNav{
  width: 15em;
  padding: 1em;
  font-size: 28px;
  gap: 1em;
  color: #fff;
  font-family: 'Cutive Mono', monospace;
}
#home{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.divHome h4{
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  color: #a7f;
}
.miNombre{
  font-family: 'Cherry Bomb One', cursive;
  font-size: 40px;
  color: #fff;
}
.nombre{
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.divHome h3{
  color: #ccf;
  font-size: 20px;
}
.divHome{
  line-height: 1.5;
  width: 35em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.circle{
  width: 30em;
  height: 30em;
  opacity: .6;
  z-index: -1;
  border-radius: 50%;
  position: absolute;
  filter: blur(60px);
  background: linear-gradient(130deg,rgb(121, 2, 195) 30%, rgb(254, 76, 0));
  animation: rotate-center 6s linear infinite both;
  
}

.bl{
  left: -10em;
  opacity: 1;
  filter: blur(110px);
}
.br{
  opacity: 1;
  filter: blur(110px);
  right: 10em;
  bottom: -80em;
}
.indice {
  width: 7em;
  height: 13em;
  padding: 20px;
  font-family: 'Quicksand', sans-serif;
  position: sticky;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#icono{
  font-size: 3em;
  color: #fff;
  margin: 10px;
  cursor: pointer;
  width: 2em;
  height: 2em;
  padding: 5em;
}


.pIndice{
  position: absolute;
  color: #eef;
  padding: 2em 2em;
  margin: 0.6em;
  transition: background .4s;
  animation: borderAnimation 2s infinite;
}
.pIndice:hover{
  background: radial-gradient(rgb(255, 54, 181), transparent, transparent);
}
.seccion{
  display: flex;
  justify-content: center;
  width: 100%; 
}
.texto{
  width: 55em;
  padding: 2em;
  margin: 1em;
}
#web{
  padding-top: 2em;
}
#web h2{
  margin: 20px 0px;
}


.border {
  position: absolute;
  color: #333;
  text-shadow:
    -0.6px -0.6px 0px #fff,
    0.6px 0.6px 0px #fff,
    -0.6px 0.6px 0px #fff,
    0.6px -0.6px 0px #fff;
}

.wave{
  position: absolute;
  color: #a7f;
  animation: wavy 3s ease-in-out infinite;
}
@keyframes wavy{
  0%, 100%{
    clip-path: polygon(
      0% 47%, 
      10% 38%,
      33% 54%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50%{
    clip-path: polygon(
      0% 60%, 
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 38%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

